body {
    background-color: lightsteelblue;
    margin-left: 100px;
    margin-top: 20px;

}

.question {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: white;

}

.answers {
    margin-bottom: 20px;
    font-size: 27px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:white;
}

#submit {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

    #submit:hover {
        background-color: #3a8;
    }

.rr  {
    font-size: 25px;
}
input[type=radio] {
    border: 30px;
    width: 10%;
    height: 1.5em;
}
h1 {
    font-size: 50px;
    padding: 50px;
    font-family: 'Gill Sans';

}
